*{
    font-size: 24pt;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
style{
    display: none;
}